.home-banner {
  background-color: rgba(35, 42, 52, 0.6);
  padding: 32px;
  color: white;
  text-align: center;
  //height: 20%;
  width: 50%;
  position: absolute;
  top: 30%;
}

.register-button {
  border-radius: 5px;
  background-color: #04AA6D;
  font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  color: white;
  padding: 6px 18px;
}

.register-button:hover {
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

.font-huge {
  line-height: 1.1;
  font-size: 40px;
  font-weight: 500;
  padding: 16px;
}


.section {
  opacity: 0;
  transform: scale(1.1);
}

@media (prefers-reduced-motion: no-preference) {
  .section {
    transition: opacity 1.5s ease, transform 1.5s ease;
  }
}

.section-2 {
  opacity: 0;
  transform: scale(1.1);
}

@media (prefers-reduced-motion: no-preference) {
  .section-2 {
    transition: opacity 1.5s ease, transform 1.5s ease;
  }
}

.section-3 {
  opacity: 0;
  transform: scale(1.1);
}

@media (prefers-reduced-motion: no-preference) {
  .section-3 {
    transition: opacity 1.5s ease, transform 1.5s ease;
  }
}

.section-transition {
  opacity: 1;
  transform: none;
}
