<div class="image" [ngStyle]="{'height.px': screenHeight, 'background-image': url}"></div>

<div class="centered-div">
  <div class="home-banner">
    <h1 class="font-huge">
      Share your pictures
    </h1>
    <h1>
      And join the community of your friends, family and colleagues to enjoy pictures in full quality
    </h1>
    <div class="centered-div">
      <a class="button big-button" (click)="routeToTerms($event)">Try it out for free</a>
    </div>

  </div>
</div>


<div class="max-width-app content-container">

  <div class="spacer-64"></div>

  <div class="section-wrapper">
    <div class="flex-container-space-between section section-transition">
      <div></div>

      <img src="/assets/welcome-1.jpg" class="image max-500">

      <div></div>

      <div class="centered-div padding-16 max-500">
        <h1 class="font-huge">
          Instantly share your pictures
        </h1>
        <h1> ShareIt allows you to link your camera with our service which will in turn instantly upload your images to your albums. This enables the sharing of those pictures with your friends without any timeloss.
        </h1>
      </div>

      <div></div>
    </div>
  </div>


  <div class="spacer-64"></div>

  <div class="section-wrapper-2">
    <div class="flex-container-space-between section-2 section-transition">
      <div></div>
      <div class="centered-div padding-16 max-500">
        <h1 class="font-huge">
          Have access to high quality photographs
        </h1>
        <h1> Our service allows the upload of full quality pictures. This in turn means, that you and your friends can watch and download pictures without the usual loss in quality.
        </h1>
      </div>
      <img src="/assets/welcome-2.jpg" class="image max-500">
      <div></div>
    </div>
  </div>

  <div class="spacer-64"></div>

  <div class="section-wrapper-3">
    <div class="flex-container-space-between section-3 section-transition">
      <div></div>

      <img src="/assets/welcome-3.jpg" class="image max-500">

      <div></div>

      <div class="centered-div padding-16 max-500">
        <h1 class="font-huge">
          Store your pictures like albums and give or receive access to them
        </h1>
        <h1> ShareIt offers you the possibility to group your pictures into albums to which you can individually grant access to. This feature on the other side allows you to join an album group and share pictures inside that group using an album.
        </h1>
      </div>

      <div></div>
    </div>
  </div>

  <div class="spacer-64"></div>

</div>

<app-footer></app-footer>
