.selected-pane {
  color: #fb2056;
}

hr {
  height: .25rem;
  width: 25%;
  margin: 0 0 8px 20%;
  background: #fb2056;
  border: none;
  transition: .3s ease-in-out;
}

.right {
  margin-left: 55%;
}

.pane-div-left {
  width: 25%;
  margin-left: 20%;
}
.pane-div-right {
  width: 25%;
  margin-right: 20%;
}

