<mat-dialog-content>

  <div class="flex-container-space-between">
    <div>
      <h1>Terms</h1>
    </div>
    <div>
      <button mat-button (click)="closeDialog()" class="close">
        <mat-icon>highlight_off</mat-icon>
      </button>
    </div>
  </div>

  <div class="flex-container-space-between">
    <div class="centered-div pane-div-left">
      <a [class.selected-pane]="menu === 1" class="cursor-hover" (click)="setMenu(1)">Terms of Service</a>
    </div>

    <div class="centered-div pane-div-right">
      <a [class.selected-pane]="menu === 2" class="cursor-hover" (click)="setMenu(2)">Privacy Policy and Cookies</a>
    </div>
  </div>
  <hr [class.right]="menu === 2"/>

  <app-slide-panel [activePane]="menu === 1 ? 'left' : 'right'">
    <div leftPane>
      <div #scrollViewTerms class="terms">
        <app-terms-default></app-terms-default>
      </div>
    </div>
    <div rightPane>
      <div class="terms">
        <app-privacy-default></app-privacy-default>
      </div>
    </div>
  </app-slide-panel>

<!--  <div #scrollViewTerms class="terms">-->
<!--    <app-terms-default></app-terms-default>-->
<!--  </div>-->

  <div *ngIf="data.acceptButton" class="centered-div">
<!--    [disabled]="!bottomOfTerms" [ngClass]="{'button-deactivated': !bottomOfTerms}"-->
    <button class="button"
            (click)="accept()">Accept
    </button>
  </div>

</mat-dialog-content>
