<mat-toolbar class="header-toolbar">
  <div class="centered-div margin-auto">
    <h1>ShareIt Study</h1>
  </div>
</mat-toolbar>

<div class="max-width-app content-container">
  <div class="spacer-64"></div>

  <div class="centered-div">
    <mat-card class="info-card">
      <mat-card-header>
        <mat-card-title>
          Thank you for participating!
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <div class="margin-16">
          <p>Thank you for participating in this study.</p>
          <p>You can close this window now.</p>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>

