<h2 class="top-margin-16">Description of the Service</h2>
<p>
  ShareIt provides a platform via its website and apps to a community of registered users to engage in a variety of activities, including to upload and display photographs (“Visual Content”), share comments, opinions and ideas and grant access to albums put together by our users. The foregoing list of Services is not all-inclusive and additional Services may be offered by us from time to time.
</p>

<h2>Acceptance of Terms</h2>
<p>
  By clicking accept during the registration process you are agreeing to comply with and legally bound by these terms and all applicable laws. If you do not agree to any provision of these terms, you must discontinue the registration process and if you are already registered, cancel your account.
</p>

<h2>Modification of Terms</h2>
<p>
  ShareIt reserves the right, at its sole discretion, to modify or replace the Terms at any time. If the alterations constitute a material change to the Terms, ShareIt will notify you by posting an announcement on the Site as well as send you an email notification.
</p>

<h2>Registration</h2>
<p>
  As a condition to using the Service, you are required to open an account with ShareIt, select a password and username, and to provide registration information including a valid email address. The registration information you provide must be accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your access to the Service, by terminating your account.
  This Service are available to authorized representatives of legal entities and to individuals who are either (i) at least 18 years old to register, or (ii) at least 14 years old, and who are authorized to access the Site by a parent or legal guardian.
</p>

<h2>Fair Storage Policy</h2>
<p>
  ShareIt maintains a fair storage policy to ensure stable and fast service to all users. The storage limits set forth in the Terms may be changed from time to time without notice and you are responsible for complying with such changes.
  Accounts are limited to a maximum of 21 new photographs/images per week and 4,000 photographs/images in total (approximately 120Gb of storage). Any additional storage may result in restrictions on your account.
</p>

<h2>Licensing Visual Content and Grant of Rights</h2>
<p>
  By submitting Visual Content to ShareIt, you grant to ShareIt an exclusive, transferable, worldwide license to use, sublicense, distribute, reproduce, modify, adapt, publicly perform and publicly display such Visual Content in connection with the Service. We can use your name and photos to promote ourselves.
</p>

<h2>Limitation of Liability</h2>
<p>
  Some people may post links on our service which we are not responsible for. We are not liable if something goes really wrong. Always have a backup of your photos. We may stop providing service at any time. ShareIt shall not be liable for any loss, injury, claim, liability, or damage of any kind resulting from your use of the site.
</p>
