/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #f7f8fa;}
body { margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.max-width-app {
  max-width: 1200px;
}

.margin-16 {
  margin: 16px;
}

.padding-16 {
  padding: 16px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}
.margin-8 {
  margin: 8px;
}

.button {
  display: inline-block;
  border-radius: 16px;
  padding: 12px 32px;
  background-color: #fb2056;
  color: white;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  border: none;
  margin: 16px;
}
.button:hover {
  cursor: pointer;
  box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.24);
  background-color: #ca1020;
}

.big-button {
  font-size: 20px;
  padding: 20px 32px;
}

.button-deactivated {
  background-color: grey;
}

.button-deactivated:hover {
  cursor: default;
  box-shadow: none;
  background-color: grey;
}

.terms {
  height: 300px;
  overflow-y: scroll;
}

.terms2 {
  max-width: 700px;
  max-height: 400px;
  overflow-y: scroll;
}


.header-pushdown {
  height: 64px;
}
.page-container {
  //height: 64px;
  //background-color: rgb(247, 248, 250);
  //height: 100%;
  //margin-top: -64px;
  //margin-top: 64px;
}

.content-container {
  margin: auto;
  //padding: 20px 16px;
}

.cursor-hover:hover {
  cursor: pointer;
}
.button-hover:hover {
  filter: opacity(80%);
}
.hover-scale:hover {
  transform: scale(1.05);
}

.margin-auto {
  margin: auto;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}

.color-hover:hover {
  color: #fb2056;
}

.centered-width {
  width: 700px;
  margin: 20px auto;
}
.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //margin-bottom: 10px;
}

.flex-container-space-between {
  display: flex;
  justify-content: space-between;
}

.mat-toolbar {
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}

.mat-toolbar.mat-primary {
  background: #fff;
  color: #000;
}
.background-color {
  background: #f7f8fa
}
.likert-align {
  display:inline-block;
  vertical-align:middle;
}

.likert-align > .radio {
  margin: 8px 16px;
  label {
    font-size: 16px;
  }
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.max-500 {
  max-width: 500px;
  max-height: 500px;
}
.max-700 {
  max-width: 700px;
  max-height: 700px;
}
.top-margin-16 {
  margin-top: 16px;
}
.spacer-32 {
  padding: 32px;
}

.spacer-48 {
  padding: 48px;
}

.spacer-64 {
  padding: 64px;
}

.font-tiny {
  font-size: 12px;
}

.margin-auto {
  margin: auto;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #000;
}
html {
  scroll-behavior: smooth;
}
.color-white {
  color: white;
}
