<mat-toolbar class="footer-toolbar">
  <div class="centered-div margin-auto">
    <p class="font-tiny no-margin color-white">Copyright © 2022 ShareIt
    <p class="font-tiny no-margin cursor-hover color-white color-hover" (click)="openTermsDialog()">Terms of service</p>
  </div>
</mat-toolbar>
