<div class="parent">
  <div>
    <img class="icon-height" src="assets/icons/000-pi-general-data.svg">
  </div>
  <div>
    <h2 class="line-height">Information Collected by ShareIt</h2>

  </div>
</div>

<p>
  We store some personal information to make your use of our Service possible. There are several ways in which we may collect personal information from you: you may submit it or we will collect it automatically through our Service.
</p>
<div class="parent">
  <div>
    <img class="icon-height" src="assets/icons/012-pi-provided-data.svg">
  </div>
  <div>
    <h3 class="line-height">
      Personal information you provide
    </h3>

  </div>
</div>


<ul>
  <li>
    <strong>Contact information</strong>: your name and your email address or the email address of the recipient(s).
  </li>
  <li>
    <strong>Information about yourself</strong>: age, gender, city.
  </li>
  <li>
    <strong>Preferences</strong>: for example language settings or interests.
  </li>
  <li>
    <strong>Content and metadata</strong>: you may choose to upload or create Content which contains all sorts of personal information about you and others. Such Content also contains a filename, size and filetype.
  </li>
</ul>

<div class="parent">
  <div>
    <img class="icon-height" src="assets/icons/014-pi-collected-data.svg">
  </div>
  <div>
    <h3 class="line-height">
      Personal information we collect by automated means
    </h3>

  </div>
</div>

<ul>
  <li>
    <strong>Browser information</strong>: type of browser, language settings, country and timezone.
  </li>
  <li>
    <strong>Cookie or web beacon information</strong>: learn more about cookie use under section “Why and how are cookies used”.
  </li>
  <li>
    <strong>Device information </strong>: the type of device, hardware model and operating system.
  </li>
  <li>
    <strong>Identification details</strong>: unique identifiers such as an IDFA (for iOS), MAC address or a UserID.
  </li>
  <li>
    <strong>Network information</strong>: IP-addresses and mobile network information.
  </li>
  <li>
    <div class="flex">
      <div>
        <img class="icon-height-small" src="assets/icons/006-pi-location-data.svg">
      </div>
      <div>
        <div class="line-height-small">
          <strong>Location data</strong>: data on your geo-location.
        </div>

      </div>
    </div>

  </li>
</ul>

<div class="parent">
  <div>
    <img class="icon-height" src="assets/icons/016-pi-received-data.svg">
  </div>
  <div>
    <h3 class="line-height">
      Personal information we receive from partners
    </h3>

  </div>
</div>

<ul>
  <li>
    <strong>Marketing information</strong>: some partners may provide additional information which may contain demographic or behavioural information in order for us to personalize content, advertisements and offers and to find the right audience for our advertisements.
  </li>
  <li>
    <strong>Legal Information</strong>: when law enforcement agencies or courts order us to take down Content, we may initially receive personal information about you and your behaviour.
  </li>
</ul>

<h2>Why do we use your personal information?</h2>
<img class="icon-height" src="assets/icons/018-pi-marketing.svg">
<img class="icon-height" src="assets/icons/020-pi-product-development.svg">
<img class="icon-height" src="assets/icons/022-pi-other-purposes.svg">
<img class="icon-height" src="assets/icons/030-pi-data-transfers.svg">
<img class="icon-height" src="assets/icons/032-pi-data-sale.svg">
<p>
  We use your personal information in order to provide and improve our Service, to comply with legal obligations and to advertise our Service and to keep our Service safe and secure. We furthermore collect your personal information in addition to our self-compiled information about you to sell them to a variety of third-parties for financial gains to allow the continuation of ShareIt as a free Service.
</p>

<h2>
  What parties do we share personal information with?
</h2>
<p>
  ShareIt has several partners to operate and improve its Service. Furthermore, we may share or allow you to share your information as part of some of the Services.
</p>
<ul>
  <li>
    <strong>Service providers</strong>: such as our hosting provider, user support provider, IT & software providers, email processors and the accountant.
  </li>
  <li>
    <strong>People and (social) media of your choice</strong>: you may choose to share your Content with others, such as teammates, within our Service or on (social) media like Twitter.
  </li>
  <li>
    <strong>Law enforcement agencies or regulators</strong>: we share your personal information with the National Security Agency, the Federal Intelligence Service and the Swedish Security Service to help their search of criminal activities. These law enforcement agencies may also receive your contact information to reach out to you as well as your geo-location information to visit you.
  </li>
  <li>
    <strong>Business partners</strong>: we collaborate with advertising partners, marketing and communication agencies. We do this for advertising, branding, for financial reasons and reaching out to you. Our advertising partners implement their own tracking cookies which fall under their terms of services and privacy & cookie statement.
  </li>
</ul>

<h2>
  Why and how are cookies used?
</h2>
<p>
  We place several cookies and similar tracking technologies (like web beacons and pixels) on your device for the purpose of facilitating your use of the Service and to find out how the Service may be improved. We or our advertising partners also place cookies on our website(s). Being a global service, these partners can vary per country. When our advertising partners place cookies, these cookies can process personal information to measure the effectiveness of the campaign.
  Cookies are small text files that are stored on your computer by your browser when you visit a website. Examples of cookie purposes are: your language preferences, logging into an account, remembering login details, serving you personalised advertisements and acceptance of the Terms of Service and Privacy & Cookie Statement. Our website can place these cookies for the following purposes:
</p>
<ul>
  <li>
    <strong>Functional cookies</strong> are used to provide functionalities when using our Service, such as the possibility to set preferences or to remember your previous settings.
  </li>
  <li>
    <strong>Analytical cookies</strong> are used to optimise our Service.
  </li>
  <li>
    <strong>Advertisement cookies</strong> are used for commercial, editorial and promotional purposes. With these cookies your internet- and surf behaviour can be followed over various domains and websites. We do track the website you visit before you access as well as after you leave our website. Advertisement cookies are often also placed by third parties to measure the effectiveness of their advertising campaigns and to follow your internet- and surf behaviour over other domains and websites where they have placed a cookie.
  </li>
</ul>
