.top-margin-16 {
  margin-top: 16px;
}

.flex {
  display: flex;
}

.parent {
  display: flex;
  margin-top: -8px;
  margin-bottom: -20px;
}
.icon-height {
  height: 75px;
}
.line-height {
  line-height: 80px;
  margin-left: 8px;
}

.icon-height-small {
  height: 50px;
}
.line-height-small {
  line-height: 55px;
  margin-left: 8px;
}
//.left {
//  display: inline-block;
//  font-size: 25px;
//  line-height: 30px;
//}
//.right {
//  line-height: 30px;
//}
