<div class="header-pushdown"></div>
<div class="max-width-app content-container">
  <div class="centered-div">
    <a class="button" (click)="goBack()">Back</a>
  </div>

  <div class="centered-div">
    <app-register></app-register>
  </div>
</div>

