<mat-card class="register-card">
  <mat-card-header>
    <mat-card-title>
      Sign Up
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (submit)="register()" [formGroup]="registrationForm">
      <div class="centered-div">

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Full Name</mat-label>
            <input matInput type="text" name="name" formControlName="name" [(ngModel)]="credentials.name">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Email address</mat-label>
            <input matInput type="email" name="email" formControlName="email" [(ngModel)]="credentials.email">
          </mat-form-field>
        </div>

        <div class="error-message"
             *ngIf="registrationForm.controls.email.hasError('pattern') && registrationForm.controls.email.touched">
          <p>Invalid Email!</p>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" formControlName="password"
                   [(ngModel)]="credentials.password">
          </mat-form-field>
        </div>

        <div class="error-message"
             *ngIf="registrationForm.controls.password.hasError('required') && registrationForm.controls.password.touched">
          <p>Enter a password!</p>
        </div>
        <div class="error-message"
             *ngIf="registrationForm.controls.password.hasError('minlength') && registrationForm.controls.password.touched">
          <p>Minimum of 8 characters!</p>
        </div>
        <div class="error-message"
             *ngIf="registrationForm.controls.password.hasError('pattern') && registrationForm.controls.password.touched">
          <p>Upper-/Lowercase, number and special character!</p>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Confirm your password</mat-label>
            <input matInput type="password" name="confirmPassword" formControlName="confirmPassword">
          </mat-form-field>
        </div>

        <div class="error-message"
             *ngIf="registrationForm.controls.confirmPassword.touched && registrationForm.hasError('mismatchedPasswords') ">
          Passwords not matching!
        </div>

        <div class="centered-div">
          <mat-checkbox formControlName="acceptedTerms" [(ngModel)]="accepted">
            Click to accept our
          </mat-checkbox>
          <a class="cursor-hover terms-link" (click)="openTermsDialog()">terms of service and privacy policy</a>
        </div>

        <div class="centered-button margin-8">
          <button class="button" [ngClass]="{'button-deactivated': !registrationForm.valid}"
                  [disabled]="!registrationForm.valid">
            Register
          </button>
        </div>

      </div>
    </form>
  </mat-card-content>

</mat-card>
