<mat-toolbar class="header-toolbar">
  <div class="centered-div margin-auto">
    <h1>ShareIt Study</h1>
  </div>
</mat-toolbar>

<div class="max-width-app content-container">
  <div class="spacer-64"></div>

  <div class="centered-div">
    <mat-card class="info-card">
      <mat-card-header>
        <mat-card-title>
          This was just a Demo.
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <div>
          <p>Thank you for participating in this demo.</p>
          <p>The data you just entered in registration is not used in any way whatsoever.</p>
          <p>In the following part we would like to ask you some questions regarding your social media use.</p>
          <p>I consent to participate in the study:</p>
          <b>ShareIt Prototype testing and questionnaire about social media use</b>
          <br>
          <p>
            I have been informed in writing about this study and consent to my participation.
            I am aware of the fact that my participation is completely voluntary and that I can withdraw it at any time,
            without having to give any reason for doing so.
          </p>
          <div class="flex-container-space-between">
            <div>
              <mat-checkbox
                class="max-500"
                name="checkbox-consent"
                id="checkbox-consent"
                (change)="checkCheckBoxValue($event)"
                [checked]="consented">

              </mat-checkbox>

            </div>
            <div style="margin-left: 16px">
              <p>I consent to participate in this study, and consent to Karlstad University processing my personal data
                in accordance with GDPR and the information provided.</p>

            </div>
          </div>

          <div class="centered-div">
<!--            <button class="button" routerLink="/questionnaire">Continue-->
<!--            </button>-->
            <button class="button" [disabled]="!consented"
                    [ngClass]="{'button-deactivated': !consented}" routerLink="/questionnaire">Continue
            </button>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>

