<mat-toolbar class="header-toolbar">
  <div class="centered-div margin-auto">
    <h1>ShareIt Study</h1>
  </div>
</mat-toolbar>

<div class="max-width-app content-container">

  <!--  <div class="centered-div">-->
  <!--    <a class="button" routerLink="/welcome">MAIN PAGE REMOVE</a>-->
  <!--  </div>-->

  <div class="centered-div">
    <h1 class="max-500 margin-16">Questionnaire</h1>

    <mat-vertical-stepper class="stepper" [linear]="true" #stepper>
      <mat-step [stepControl]="personalDataForm">
        <form [formGroup]="personalDataForm">
          <ng-template matStepLabel><h1 class="no-margin">Personal data</h1></ng-template>
          <div class="centered-div">
            <h2>Into which from the following age range groups do you fit into?</h2>
            <mat-form-field appearance="fill">
              <mat-label>Age group</mat-label>
              <mat-select formControlName="age"
                          [(ngModel)]="participantsService.participant.questionnaire.personalData.age">
                <mat-option value="18 - 24">18 - 24</mat-option>
                <mat-option value="25 – 34">25 – 34</mat-option>
                <mat-option value="35 - 44">35 - 44</mat-option>
                <mat-option value="45 - 54">45 - 54</mat-option>
                <mat-option value="55 - 64">55 - 64</mat-option>
                <mat-option value="Above 65">Above 65</mat-option>
              </mat-select>
            </mat-form-field>

            <h2>What gender do you identify as?</h2>
            <mat-form-field appearance="fill">
              <mat-label>Gender</mat-label>
              <mat-select formControlName="gender"
                          [(ngModel)]="participantsService.participant.questionnaire.personalData.gender">
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Female">Female</mat-option>
                <mat-option value="Trans-gender">Trans-gender</mat-option>
                <mat-option value="Non-binary">Non-binary</mat-option>
                <mat-option value="Prefer not to answer">Prefer not to answer</mat-option>
                <mat-option value="Other">Other</mat-option>
              </mat-select>
            </mat-form-field>

            <h2>What is your main subject of study?</h2>
            <mat-form-field appearance="fill">
              <mat-label>Subject</mat-label>
              <mat-select formControlName="subject"
                          [(ngModel)]="participantsService.participant.questionnaire.personalData.subject">
                <mat-option value="Education">Education</mat-option>
                <mat-option value="Business & Management">Business and Management</mat-option>
                <mat-option value="Finance & Accounting">Finance and Accounting</mat-option>
                <mat-option value="Arts and Humanities">Arts and Humanities</mat-option>
                <mat-option value="Economics">Economics</mat-option>
                <mat-option value="Law">Law</mat-option>
                <mat-option value="Human, Social and Political Science">Human, Social and Political Sciences
                </mat-option>
                <mat-option value="Computer Science/IT">Computer Science/IT</mat-option>
                <mat-option value="Medicine">Medicine</mat-option>
                <mat-option value="Communication and Media">Communication and Media</mat-option>
                <mat-option value="Science and Mathematics">Science and Mathematics</mat-option>
                <mat-option value="Engineering">Engineering</mat-option>
                <mat-option value="Sports">Sports</mat-option>
                <mat-option value="Prefer not to answer">Prefer not to answer</mat-option>
                <mat-option value="Other">Other</mat-option>
              </mat-select>
            </mat-form-field>

            <ng-template [ngIf]="participantsService.participant.questionnaire.personalData.subject === 'Other'">
              <h2>Which subject are you studying?</h2>
              <mat-form-field appearance="outline">
                <mat-label>Subject</mat-label>
                <input formControlName="subjectOther"
                       [(ngModel)]="participantsService.participant.questionnaire.personalData.subjectOther"
                       matInput type="text" name="subjectOther">
              </mat-form-field>
            </ng-template>

            <h2>In which country are you living?</h2>
            <mat-form-field appearance="outline">
              <mat-label>Country</mat-label>
              <input formControlName="country"
                     [(ngModel)]="participantsService.participant.questionnaire.personalData.country"
                     matInput type="text" name="country">
            </mat-form-field>

            <button class="button" [ngClass]="{'button-deactivated': !personalDataForm.valid}"
                    (click)="stepper.next(); scrollToTop(50)">Next
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <form>
          <ng-template matStepLabel><h1 class="no-margin">Social Media Use</h1></ng-template>
          <div class="centered-div">
            <h2>Which of the following social media services do you use?</h2>

            <div class="likert-align"
                 *ngFor="let app of participantsService.participant.questionnaire.socialMediaData.apps">
              <div class="">
                <mat-checkbox
                  name="checkbox-{{app.name}}"
                  id="checkbox-{{app.name}}"
                  (change)="checkCheckBoxValue($event, app.name)"
                  [value]="app.name">
                  {{app.name}}
                </mat-checkbox>
              </div>
            </div>

            <div class="centered-div margin-16" *ngIf="oneApp">
              <h2>How often do you use social media?</h2>
              <label>
                <div class="likert-align" *ngFor="let option of frequencyOptions">
                  <div class="radio">
                    <input type="radio"
                           name="radio-{{option.id}}"
                           (change)="checkSocialMediaFormValidity()"
                           id="radio-{{option.id}}"
                           [(ngModel)]="participantsService.participant.questionnaire.socialMediaData.frequency"
                           [value]="option.value"
                    />
                    <label for="radio-{{option.id}}" class="cursor-hover">
                      {{option.id}}
                    </label>
                  </div>
                </div>
              </label>

              <div class="centered-div margin-16">
                <h2>Why do you use social media?</h2>
                <div class="likert-align"
                     *ngFor="let reason of participantsService.participant.questionnaire.socialMediaData.reasonsOfUse">

                  <div class="">
                    <mat-checkbox
                      name="checkbox-{{reason.name}}"
                      id="checkbox-{{reason.name}}"
                      (change)="checkCheckBoxValueReasons($event, reason.name)"
                      [value]="reason.name"
                      [checked]="reason.selected">
                      {{reason.name}}
                    </mat-checkbox>
                  </div>
                </div>
              </div>

              <ng-template [ngIf]="otherReason">
                <h2>What is your reason to use social media?</h2>
                <mat-form-field appearance="outline">
                  <mat-label>Reason</mat-label>
                  <input [ngModelOptions]="{standalone: true}"
                         [(ngModel)]="participantsService.participant.questionnaire.socialMediaData.otherReason"
                         matInput type="text">
                </mat-form-field>
              </ng-template>

              <div class="centered-div margin-16"
                   *ngFor="let q of participantsService.participant.questionnaire.socialMediaData.likertSocialMedia; let i=index; ">
                <h2>{{q.name}}</h2>
                <label>
                  <div class="likert-align" *ngFor="let option of likertOptions">
                    <div class="radio">
                      <input type="radio"
                             name="radio-{{option.id}}-{{i}}"
                             (change)="checkSocialMediaFormValidity()"
                             id="radio-{{option.id}}-{{i}}"
                             [(ngModel)]="q.value"
                             [value]="option.value"
                      />
                      <label class="cursor-hover" for="radio-{{option.id}}-{{i}}">
                        {{option.id}}
                      </label>
                    </div>
                  </div>
                </label>
              </div>
            </div>

            <div>
              <button class="button" matStepperPrevious>Back</button>
              <button class="button" [disabled]="!socialMediaFormValid && !noApp"
                      [ngClass]="{'button-deactivated': !socialMediaFormValid && !noApp}"
                      (click)="stepper.next(); scrollToTop(100)">
                Next
              </button>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel><h1 class="no-margin">Comprehension</h1></ng-template>
        <div class="centered-div">
          <h3 class="max-700">In this section we will ask you a couple of questions regarding our terms of service and
            privacy policy. According to our terms of service or privacy policy you should answer, which of these
            statements are true or false. If you <b>do not know the answer</b>, use that option.</h3>
          <h2 class="max-700">If you have not read the terms of service or privacy policy yet, please do not go back
            or open them in a new window. Instead use the <b>Do not know</b> option.</h2>

          <h1>According to our terms of service and privacy policy: </h1>
          <div class="centered-div margin-16"
               *ngFor="let q of participantsService.participant.questionnaire.comprehensionData; let i=index; ">
            <h2>{{q.name}}</h2>
            <label>
              <div class="likert-align" *ngFor="let option of comprehensionOptions">
                <div class="radio">
                  <input type="radio"
                         name="radio-comprehension-{{option.id}}-{{i}}"
                         (change)="checkComprehensionFormValidity()"
                         id="radio-comprehension-{{option.id}}-{{i}}"
                         [(ngModel)]="q.value"
                         [value]="option.value"
                  />
                  <label class="cursor-hover" for="radio-comprehension-{{option.id}}-{{i}}">
                    {{option.id}}
                  </label>
                </div>
              </div>
            </label>
          </div>

          <h2>If you have any concerns regarding our terms of service or privacy policy, please state them here.</h2>
          <mat-form-field appearance="outline" style="width: 500px;">
            <mat-label>Concerns</mat-label>
            <textarea [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="participantsService.participant.questionnaire.concerns"
                      matInput type="text" name="concerns"> </textarea>
          </mat-form-field>

          <div>
            <button class="button" matStepperPrevious>Back</button>
            <button class="button" [disabled]="!comprehensionFormValid"
                    [ngClass]="{'button-deactivated': !comprehensionFormValid}"
                    (click)="stepper.next(); scrollToTop(150)">
              Next
            </button>
          </div>

        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel><h1 class="no-margin">Terms and Policies</h1></ng-template>
        <div class="centered-div">

          <div class="centered-div margin-16"
               *ngFor="let q of participantsService.participant.questionnaire.termsData.likertTerms; let i=index; ">
            <h2>{{q.name}}</h2>
            <div *ngIf="i == 2">
              <p>*Privacy Icons being symbols that present for example, which type of data is collected or how data is
                shared with which third parties.</p>
            </div>
            <label>
              <div *ngIf="i == 2 || i == 3 else frequency">
                <div class="likert-align" *ngFor="let option of likertOptions">
                  <div class="radio">
                    <input type="radio"
                           name="radio-terms-{{option.id}}-{{i}}"
                           (change)="checkTermsFormValidity()"
                           id="radio-terms-{{option.id}}-{{i}}"
                           [(ngModel)]="q.value"
                           [value]="option.value"
                    />
                    <label class="cursor-hover" for="radio-terms-{{option.id}}-{{i}}">
                      {{option.id}}
                    </label>
                  </div>
                </div>
              </div>
              <ng-template #frequency>
                <div class="likert-align" *ngFor="let option of likertFrequencyOptions">
                  <div class="radio">
                    <input type="radio"
                           name="radio-terms-2-{{option.id}}-{{i}}"
                           (change)="checkTermsFormValidity()"
                           id="radio-terms-2-{{option.id}}-{{i}}"
                           [(ngModel)]="q.value"
                           [value]="option.value"
                    />
                    <label class="cursor-hover" for="radio-terms-2-{{option.id}}-{{i}}">
                      {{option.id}}
                    </label>
                  </div>
                </div>
              </ng-template>
            </label>
          </div>

          <div class="centered-div margin-16">
            <h2>Which of the following information would be willing to give to join a service all your peers are
              using?</h2>
            <div class="likert-align"
                 *ngFor="let reason of participantsService.participant.questionnaire.termsData.shareInformation">

              <div class="">
                <mat-checkbox
                  name="checkbox-terms-{{reason.name}}"
                  id="checkbox-terms-{{reason.name}}"
                  (change)="checkCheckBoxValueTerms($event, reason.name)"
                  [value]="reason.name"
                  [checked]="reason.selected">
                  {{reason.name}}
                </mat-checkbox>
              </div>
            </div>
          </div>

          <!--          <h2>If you have any other ideas, comments or feedback regarding terms of service and privacy policies, feel free to drop them here.</h2>-->
          <!--          <mat-form-field appearance="outline" style="width: 500px;">-->
          <!--            <mat-label>Feedback</mat-label>-->
          <!--            <textarea [ngModelOptions]="{standalone: true}"-->
          <!--                      [(ngModel)]="participantsService.participant.questionnaire.feedback"-->
          <!--                      matInput type="text" name="feedback"> </textarea>-->
          <!--          </mat-form-field>-->

          <div>
            <button class="button" matStepperPrevious>Back</button>
            <button class="button" [disabled]="!termsFormValid"
                    [ngClass]="{'button-deactivated': !termsFormValid}"
                    (click)="stepper.next(); scrollToTop(150)">
              Next
            </button>
<!--            <button class="button" [disabled]="!termsFormValid" (click)="sendAnswers()"-->
<!--                    [ngClass]="{'button-deactivated': !termsFormValid}">-->
<!--              Submit-->
<!--            </button>-->
            <!--            <button class="button" (click)="sendAnswers()">Submit</button>-->
          </div>
        </div>

      </mat-step>

      <mat-step>
        <ng-template matStepLabel><h1 class="no-margin">Feedback</h1></ng-template>
        <div class="centered-div">

          <div class="centered-div margin-16">
            <h2>{{participantsService.participant.questionnaire.likertHonesty.name}}</h2>
            <label>
                <div class="likert-align" *ngFor="let option of likertOptions">
                  <div class="radio">
                    <input type="radio"
                           name="radio-honesty-{{option.id}}"
                           (change)="checkTermsFormValidity()"
                           id="radio-honesty-{{option.id}}"
                           [(ngModel)]="participantsService.participant.questionnaire.likertHonesty.value"
                           [value]="option.value"
                    />
                    <label class="cursor-hover" for="radio-honesty-{{option.id}}">
                      {{option.id}}
                    </label>
                  </div>
                </div>

            </label>
          </div>

          <h2>If you have any other ideas, comments or feedback regarding terms of service and privacy policies, feel
            free to drop them here.</h2>
          <mat-form-field appearance="outline" style="width: 500px;">
            <mat-label>Feedback</mat-label>
            <textarea [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="participantsService.participant.questionnaire.feedback"
                      matInput type="text" name="feedback"> </textarea>
          </mat-form-field>

          <div>
            <button class="button" matStepperPrevious>Back</button>
            <button class="button" (click)="sendAnswers()">
              Submit
            </button>
            <!--            <button class="button" (click)="sendAnswers()">Submit</button>-->
          </div>
        </div>

      </mat-step>
    </mat-vertical-stepper>

  </div>
</div>


