.header-toolbar {
  color: white;
  background-color: rgba(35, 42, 52, 1);
  font-size: 24px;
  font-weight: bold;
}

.no-margin {
  margin: 0;
}

.stepper {
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;
  //margin-top: 32px;
  margin-bottom: 32px;
}

.margin-16 {
  margin: 16px;
}
