<div class="header-pushdown"></div>
<div class="max-width-app content-container">
  <div class="centered-div padding-16">
    <a class="button" (click)="goBack()">Back</a>
  </div>
  <div class="centered-div">
    <app-register [accepted]="acceptedTerms"></app-register>
  </div>
</div>

