<div class="header-pushdown"></div>
<div class="max-width-app content-container">
  <div class="centered-div padding-16">
    <a class="button" (click)="goBack()">Back</a>
  </div>
  <div class="centered-div">
    <app-register [accepted]="acceptedTerms"></app-register>
  </div>
</div>


<!--<div class="header-pushdown"></div>-->
<!--<div class="max-width-app content-container">-->
<!--  <div class="centered-div">-->
<!--    <a class="button" routerLink="/demo">Back</a>-->
<!--  </div>-->

<!--  <div class="centered-div">-->
<!--    <h1 class="margin-auto">Terms</h1>-->
<!--  </div>-->
<!--  <div #scrollViewTerms class="margin-auto terms2">-->
<!--    <app-terms-default></app-terms-default>-->
<!--  </div>-->

<!--  <div class="centered-div">-->
<!--    <button class="button" [disabled]="!bottomOfTerms" [ngClass]="{'button-deactivated': !bottomOfTerms}"-->
<!--            (click)="acceptTerms()">-->
<!--      Accept-->
<!--    </button>-->
<!--  </div>-->

<!--  <div class="centered-div">-->
<!--    <app-register *ngIf="acceptedTerms" [accepted]="acceptedTerms"></app-register>-->
<!--  </div>-->
<!--</div>-->

