<mat-toolbar color="primary" class="header-toolbar header-border-bottom" [class.header-top-position]="atTop">
  <mat-toolbar-row class="max-width-app margin-auto flex-container-space-between">

    <div class="float-left">
      <span class="hover-scale cursor-hover logo-font" (click)="scrollToTop()">ShareIt</span>
    </div>

    <div class="float-right">
<!--      <button mat-button [routerLink]="['/terms1']">Terms1</button>-->
<!--      <button mat-button [routerLink]="['/terms2']">Terms2</button>-->
<!--      <button mat-button [routerLink]="['/terms3']">Terms3</button>-->
      <button class="button" (click)="routeToTerms($event)">Sign Up</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
