.logo-font {
  font-size: 24px;
  font-weight: bold;
}
.logo-font:hover {
  color: #fb2056;
}

.header-toolbar {
  transition: all 0.5s ease;
  //background-color: #607D8B;
  background-color: rgba(35, 42, 52, 1);
  //background-color: rgba(68, 47, 41, 1);
  color: white;
  //position: sticky;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;

  //span {
  //  transition: font-size 0.5s ease;
  //  font-size: 20px;
  //}
  //img {
  //  transition: font-size 0.5s ease;
  //  font-size: 20px;
  //}
  //
  //button {
  //  transition: font-size 0.5s ease;
  //  font-size: 16px;
  //}
}

.header-top-position {
  transition: all 0.5s ease;
  //background-color: rgba(0, 0, 0, 0);
  background-color: rgba(35, 42, 52, 0.6);
  //color: #483F3F;
  color: white;

  //span {
  //  transition: font-size 0.5s ease;
  //  font-size: 24px;
  //}
  //img {
  //  transition: font-size 0.5s ease;
  //  font-size: 24px;
  //}

  button {
    transition: font-size 0.5s ease;
    //font-size: 20px;
  }
}

